@font-face {
  font-family: "Lato-Bold";
  src: url("../fonts/Lato-Bold.eot");
  src: url("../fonts/Lato-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Lato-Bold.svg#Lato-Bold") format("svg"), url("../fonts/Lato-Bold.ttf") format("truetype"),
    url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lato-Medium";
  src: url("../fonts/Lato-Medium.eot");
  src: url("../fonts/Lato-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Lato-Medium.svg#Lato-Medium") format("svg"), url("../fonts/Lato-Medium.ttf") format("truetype"),
    url("../fonts/Lato-Medium.woff") format("woff"), url("../fonts/Lato-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lato-Regular";
  src: url("../fonts/Lato-Regular.eot");
  src: url("../fonts/Lato-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Lato-Regular.svg#Lato-Regular") format("svg"), url("../fonts/Lato-Regular.ttf") format("truetype"),
    url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lora-Bold";
  src: url("../fonts/Lora-Bold.eot");
  src: url("../fonts/Lora-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Lora-Bold.svg#Lora-Bold") format("svg"), url("../fonts/Lora-Bold.ttf") format("truetype"),
    url("../fonts/Lora-Bold.woff") format("woff"), url("../fonts/Lora-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lora-Regular";
  src: url("../fonts/Lora-Regular.eot");
  src: url("../fonts/Lora-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Lora-Regular.svg#Lora-Regular") format("svg"), url("../fonts/Lora-Regular.ttf") format("truetype"),
    url("../fonts/Lora-Regular.woff") format("woff"), url("../fonts/Lora-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PlayfairDisplay-Bold";
  src: url("../fonts/PlayfairDisplay-Bold.eot");
  src: url("../fonts/PlayfairDisplay-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold") format("svg"),
    url("../fonts/PlayfairDisplay-Bold.ttf") format("truetype"),
    url("../fonts/PlayfairDisplay-Bold.woff") format("woff"), url("../fonts/PlayfairDisplay-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.eot");
  src: url("../Roboto-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Roboto-Regular.svg#Roboto-Regular") format("svg"),
    url("../fonts/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto-Regular.woff") format("woff"),
    url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
